body {
	font-family: 'Segoe UI', sans-serif;
}

#canvas {
	position: absolute;
	left: 50%;
	margin-left: -250px;
}

#pauseBox {
	margin: 500px auto 0 auto;
	border: 1px solid grey;
	border-radius: 7px;
	position: relative;
	width: 100px;
	height: 50px;
	display: none;
}

#pauseBackground {
	width: 100px;
	height: 30px;
	position: absolute;
	bottom: 0;
	background-color: lightsteelblue;
	background-color: lavender;
	border-radius: 0 0 7px 7px;
}

#pauseText {
	position: absolute;
	font-family: verdana;
	color: grey;
	font-size: 22px;
	top: 10px;
	left: 10px;
}